{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<div class="container-fluid">
		<!-- Business News Section  -->
        <h3 class="text-center"> Business News Sources</h3>
        <hr>

        {{ macro.displaySourceList(bus_sources) }}
        <hr>

        <!-- Technology News Section  -->
         
        <h3 class="text-center"> Technology News Sources</h3>
        <hr>

        {{ macro.displaySourceList(tech_sources) }}
        <hr>

        <!-- Political News Section  -->
         
        <h3 class="text-center"> Politics News Sources</h3>
        <hr>

        {{ macro.displaySourceList(sources) }}
        <hr>

        <!-- Entertainment News Section  -->
         
        <h3 class="text-center"> Entertainment News Sources</h3>
        <hr>

        {{ macro.displaySourceList(ent_sources) }}
        <hr>

        <!-- Sports News Section  -->
         
        <h3 class="text-center"> Sports News Sources</h3>
        <hr>

        {{ macro.displaySourceList(sports_sources) }}
        <hr>
	
</div>


{% endblock %}